################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyApp01/.vs
/MyApp01/MyApp01/bin
/MyApp01/MyApp01/obj/Debug
